Source: openomf
Priority: extra
Maintainer: Michele Bini <michele.bini@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, cdbs, libdumb-kataja-dev, libshadowdive-dev, libsdl1.2-dev, chipmunk-dev, libconfuse-dev, libenet-dev
Standards-Version: 3.9.4
Section: games
Homepage: https://github.com/omf2097/openomf
Vcs-Git: https://github.com/omf2097/openomf.git
Vcs-Browser: https://github.com/omf2097/openomf

Package: openomf
Section: games
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: One Must Fall 2097 Remake
 OpenOMF is an Open Source remake of "One Must Fall 2097" by Diversions Entertainment.
